In [1]:
import pandas as pd

In [8]:
df = pd.DataFrame(data = [1,2,3],columns=['aaa'])
df

   aaa
0    1
1    2
2    3

In [74]:
df = pd.DataFrame(data = [['alex',23],['bob',24]],index=['a','b'],columns=['name','age'])
df

   name  age
a  alex   23
b   bob   24

In [75]:
df1 = df.append({'age':25,'name':'celina'},ignore_index=True)

In [76]:
df2 = pd.concat([df,df1])
df2

     name  age
a    alex   23
b     bob   24
0    alex   23
1     bob   24
2  celina   25